<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="taipei.sean.telegram.botplayground">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tg.sean.taipei"
                    android:path="/open"
                    android:scheme="http" />

                <data
                    android:host="tg.sean.taipei"
                    android:path="/open"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tg.sean.taipei"
                    android:path="/open"
                    android:scheme="http" />

                <data
                    android:host="tg.sean.taipei"
                    android:path="/open"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddBotActivity"
            android:label="@string/title_activity_add_bot"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ApiCallerActivity"
            android:label="@string/title_activity_bot_api"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.telegram.org"
                    android:pathPrefix="/bot"
                    android:scheme="http" />

                <data
                    android:host="api.telegram.org"
                    android:pathPrefix="/bot"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TelegraphActivity"
            android:label="@string/title_activity_telegraph"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.telegra.ph"
                    android:scheme="http" />

                <data
                    android:host="api.telegra.ph"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddFavoriteActivity"
            android:label="@string/title_activity_add_favorite"
            android:parentActivityName=".activity.FavoriteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.FavoriteActivity" />
        </activity>
        <activity
            android:name=".activity.FileDownloadActivity"
            android:label="@string/file_downloader"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.telegram.org"
                    android:pathPrefix="/file/bot"
                    android:scheme="http" />

                <data
                    android:host="api.telegram.org"
                    android:pathPrefix="/file/bot"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taipei.sean.telegram.botplayground.activity.MainActivity" />
        </activity>
    </application>

</manifest>